* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.699);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: rgb(77, 75, 75);
    margin: 5% auto;
    color: white;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.movie-poster-modal {
    width: 300px;
}

.movie-poster {
    width: 300px;
    cursor: pointer;
    margin: 1rem;
}